# root /

config.json
.DS_Store
node_modules
.vscode
package-lock.json
error/

# video

video.mp4
videoReady.mp4
SPOILER_video.mp4
SPOILER_videoReady.mp4

## images

img/frame001.png
img/spb.png
img/de.png
img/nolight.png
spb.png

### audio

tts.mp3
ttsvc.mp3
music.mp3
dectalk.wav

# json

json/blacklist.json
json/customresponse.json
board/*.json
tag/*.json
welcome/*.json
bye/*.json