config.json
.DS_Store
node_modules
node_modules\
.vscode
video.mp4
json/blacklist.json
json/customresponse.json
tts.mp3
ttsvc.mp3
error/
music.mp3
videoReady.mp4
package-lock.json
img/frame001.png
img/spb.png
img/de.png
